@media (min-width: 200px) and (max-width: 600px){

    header#header{
        display: flex;
        flex-direction: column;
    }
    section#logoSite{
        width: 100%;

    }

    h1#titulo{
        font-size: 20px;
    }
    
    section#text{
        font-size: 13px;
    }
    input.boton01{
        width: 150px;
        height: 50px;
        font-size: 15px;
    }
    label{
        font-size: 13px;
    }
    section#contTxt{
        display: flex;
        flex-direction: column;
    }
    h1#textoFinal{
        font-size: 13px;
    }

    /* Footer */

    p#txt{
        font-size: 13px;
    }
    img.imgredes{
        width: 30px;
        height: 30px;
    }

}